*{
    box-sizing:border-box;
}
body{
    background-color:#F3E5D8;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* recipe card container css*/
#card-container{
    margin: 50px auto 50px auto;
    background-color:#fafafa;
    width: 850px;
    height:auto;
    border:1px solid #fafafa;
    border-radius:20px;
}
#card-wrapper{
    margin:40px 50px 40px 50px;
    
}
.recipe-image{
    width:750px;
    height:auto;
    border:1px solid #fafafa;
    border-radius:10px;
}
.recipe-title{
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
    color:#412d29;
    margin: 10px 0 10px 0;
}
.recipe-description{
    color: #747171;
    font-family: 'Times New Roman', Times, serif;
    font-weight:400;
    text-align: justify;
}
/*preparation and ingredients css*/
#preparation-container{
    background-color:#FFF7FC;
}
.preparation-list-container{
    margin:15px 0 auto 30px;
}
.preparation-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:18px;
    color:#5F2E44;
}
.preparation-list{
    padding:0;
    margin: auto auto auto 20px;
    list-style-type: square;
    color: #747171;
}
.preparation-list li span{
    font-weight:800;
    color:#645757f8;
}
.preparation-list li{
    padding-left:20px;
    margin-bottom:15px;
}
.preparation-list li::marker{
    font-size:14px;
    color:#5F2E44;
}
#ingredient-container{
    margin: 30px auto 20px auto;
    border-bottom:1px solid #948f8f;
}
.ingredient-title{
    color:#68433B;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:28px;
}
.ingredient-list{
    padding:0 0 20px 0;
    margin:auto auto auto 20px;
    list-style-type:square;
    color:#747171;
}
.ingredient-list li{
    margin-bottom:15px;
    padding-left:20px;
}
.ingredient-list li::marker{
    color:#68433B;
    font-size:14px;
} 
/* Instructions and Nutrition CSS*/
#instructions-container{
    border-bottom:1px solid #948f8f;
}
.instructions-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size: 28px;
    color:#68433B;
}
.instructions-list{
    padding: 0 0 20px 0;
}
.instructions-list li{
    color:#747171;
    margin:auto auto 10px 20px;
    padding-left: 20px;
}
.instructions-list li::marker{
    color:#68433B;
    font-weight:600;
    font-size:18px;
}
.instructions-list span{
    color:#645757f8;
    font-weight:800;
}
/* Nutrition section CSS*/
.nutrition-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    color:#68433B;
    font-size: 28px;
}
.table-description{
    font-family: Arial, Helvetica, sans-serif;
    color:#747171;
    font-size:18px;
}
#nutrition-table{
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    grid-template-columns: auto auto;
    line-height:1.5;
}
.nutritions-labels{
    color:#747171;
    font-weight:400;
}
.nutrition-values{
    color:#68433B;
    font-weight:800;
}